#body {
  padding: 0px 86px 52px 86px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Bebas Neue", sans-serif;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER STYLE */

header {
  max-width: 1440px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1px solid #ffffff;
}

.birosca-introduction-container {
  display: flex;
  gap: 14px;
  align-items: center;
}

.birosca-introduction__name {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}

.navigations {
  display: flex;
  gap: 64px;
  font-size: 2.25rem;
}

.navigation a::after {
  content: "";
  border-bottom: 2px solid transparent;
  margin: 0px 10px;
  display: block;
}

.navigation a:hover::after {
  border-bottom: 2px solid #ffffff;
  transition: all 0.5s;
}

/* MAIN STYLE */

main {
  max-width: 1440px;
  width: 100%;
}

/* FOOTER STYLE */

footer {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--section-background-color);
  border-radius: var(--border-radius);
  height: 142px;
  align-items: center;
  padding: 0px 30px;
}

.birosca__logo-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.birosca-logo__name {
  font-size: 1.5rem;
  font-family: "Pacifico", cursive;
}

.birosca__copyright {
  font-family: "Cabin", sans-serif;
  font-size: 1.125rem;
}

.birosca__informations {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 12px;
}

.information {
  display: flex;
  gap: 12px;
  align-items: center;
}

.information__icon {
  font-size: 1.125rem;
}

.information__text {
  font-family: "Cabin", sans-serif;
  font-size: 1.125rem;
}
