.snacks {
  margin-top: 36px;
  font-family: "Cabin", sans-serif;
  background: linear-gradient(
    to bottom,
    var(--section-background-color) 90%,
    transparent 10%
  );
  border-radius: var(--border-radius);
}

.snacks__introduction-container {
  background-image: url("../../img/snacks-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 628px;
  display: flex;
  flex-direction: column;
}

.introduction__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
  line-height: 1;
  margin: 120px 0px 36px 102px;
  position: relative;
}

.introduction__title::after {
  content: "";
  display: block;
  border-bottom: 2px solid #ffffff;
  width: 35%;
  left: 30%;
  position: absolute;
}

.introduction__text {
  font-size: 1.5rem;
  max-width: 332px;
  text-align: center;
  margin-left: 102px;
}

.snacks__snacks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 64px;
  margin-top: 64px;

}

.snack {
  background-color: var(--card-background-color);
  max-width: 502px;
  min-height: 452px;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-areas:
    "image main"
    "ingredients .";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  padding: 24px 34px;
  gap: 32px;
  position: relative;
}

.snack__image {
  grid-area: image;
}

.snack__main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.snack__name {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 192px;
}

.snack__price {
  font-size: 1.625rem;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 6px 18px;
  width: fit-content;
}

.snack__ingredients-container {
  grid-area: ingredients;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.ingredients__title {
  font-size: 1.25rem;
}

.ingredients__ingredients {
  display: inline-grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  align-content: center;
  column-gap: 24px;
}

.ingredient::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 100%;
  margin-right: 8px;
}

.snack__logo {
  position: absolute;
  right: 24px;
  bottom: 24px;
}
