.foods {
  margin-top: 36px;
  font-family: "Cabin", sans-serif;
  background: linear-gradient(
    to bottom,
    var(--section-background-color) 90%,
    transparent 10%
  );
  border-radius: var(--border-radius);
}

.foods__introduction-container {
  background-size: cover;
  background-repeat: no-repeat;
  height: 628px;
  display: flex;
  flex-direction: column;
}

.introduction__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
  line-height: 1;
  margin: 120px 0px 36px 102px;
  position: relative;
  width: fit-content;
}

.introduction__title::after {
  content: "";
  display: block;
  border-bottom: 2px solid #ffffff;
  width: 115%;
  left: -8%;
  position: absolute;
}

.introduction__text {
  font-size: 1.5rem;
  max-width: 332px;
  width: 80%;
  text-align: center;
  margin-left: 102px;
}

.foods__foods-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 64px;
  margin-top: 64px;
  margin-bottom: 72px;
}

.food {
  background-color: var(--card-background-color);
  max-width: 502px;
  width: 100%;
  min-height: 452px;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-areas:
    "image main"
    "ingredients ingredients";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  padding: 24px 34px;
  gap: 32px;
  position: relative;
}

.food:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  transition: 0.2s all;
}

.food__image {
  grid-area: image;
}

.food__main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.food__name {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 192px;
}

.food__price {
  font-size: 1.625rem;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 6px 18px;
  width: fit-content;
}

.food__ingredients-container {
  grid-area: ingredients;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.ingredients__title {
  font-size: 1.25rem;
}

.ingredients-body {
  display: flex;
  gap: 18px;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  max-width: 160px;
}

.ingredient {
  display: flex;
  align-items: center;
}

.ingredient::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 100%;
  margin-right: 8px;
}

.food__logo {
  position: absolute;
  right: 24px;
  bottom: 24px;
}
