/* INTRODUCTION STYLE */

.introduction {
  margin-top: 62px;
  background-image: url("../../img/introduction-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 658px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
}

.introduction__text {
  margin-top: 138px;
  font-size: 5rem;
  max-width: 554px;
  display: inline-block;
  text-align: center;
}

.introduction__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  height: 56px;
  width: 176px;
  font-family: "Bebas Neue", sans-serif;
  border: var(--button-border);
}

.introduction__link:hover {
  background-color: #ffffff;
  transition: all 0.5s;
  color: #000000;
}

/* STATISTICS STYLE */

.statistics {
  display: flex;
  gap: 98px;
  justify-content: center;
  margin: 94px 0px;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: "Dancing Script", cursive;
  position: relative;
}

.stat:not(:last-child)::after {
  content: "";
  display: block;
  border-right: 2px solid #ffffff;
  height: 80%;
  position: absolute;
  top: 15%;
  right: -56px;
}

.stat__number-container {
  display: flex;
  gap: 28px;
  align-items: center;
}

.number__icon {
  font-size: 2.625rem;
}

.number__text {
  font-size: 4.875rem;
}

.stat__text {
  font-size: 2.25rem;
}

/* INSTAGRAM STYLE */

.instagram {
  display: grid;
  grid-template-areas:
    "title image1"
    "image2 image1"
    "image3 birosca";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 42px;
  justify-items: center;
  align-items: center;
}

.instagram__title {
  grid-area: title;
  font-size: 6rem;
}

.instagram__image1 {
  grid-area: image1;
}

.instagram__image2 {
  grid-area: image2;
}

.instagram__image3 {
  grid-area: image3;
}

.birosca-image__image {
  grid-area: birosca;
  margin-left: 36px;
}

.birosca-image__text {
  font-size: 6rem;
  display: inline-block;
  transform: rotate(-30deg);
}
