/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive; */

@import url('./assets/css/variables.css');
@import url('./assets/css/reset.css');
@import url('./assets/css/generalStyle.css');